<%= flash[:payslip_error] %>

<p>Select Month And Year to View PaySlip </p>


<%= form_for :show_payslip  do |f| %>
    
    <% if @isAdmin %>
        <%= f.label :Name %><br>
        <%= f.select :emp_no, options_for_select(@emp_array) %><br>
    <% else %>
        <%= f.hidden_field :emp_no, :value => @currentEmpNo %>
    <% end %>

    <p>
                <%= f.label :Month %><br>
                <%= f.select :month, options_for_select(@month_array) %>

    </p>
    
    <p>
                <%= f.label :Year %><br>
                <%= f.select :year, options_for_select(@year_array) %>
    </p>

    <p>
                <%= f.submit 'Show PaySlip' %>
    </p>
<% end %>

<% if @isAdmin %>

<%= button_to "Import PaySlip", payslips_import_path, :class => "button", :method => :get  %>

<% end %>